swift_monitor/*.lc.gz
swift_monitor/*.flc
swift_monitor/.ipynb_checkpoints/
nustar_Aru/
nicer_testing_energy_bin_pulse/*
**/*.png
*.ipynb_checkpoints
*.ipynb
HXMT/hxmt_me_l3_products/*
HXMT_spec_share/*
NICER_second_run/*
NICER_third_run/*
HXMT_combine_spectra_check/*
settings.json
