6050*/auxil/
6050*/log/
6050*/xti/
6050390227_timing_exercise/
201_64_bins_1024_points.fes
*.mod
*.cdm
*.tar
*.fes
.ipynb_checkpoints/
bootstrap_error/6050390204/*.fits
all_burst_data/6050*
reduced_output/
